<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form th:action="@{/logout}" method="get">
		<button class="btn btn-md btn-danger btn-block" name="registration"
		type="Submit">Logout</button>
	</form>
	<form th:action="@{/userProfile}" method="get">
		<button class="btn btn-md btn-success btn-block" name="userProfile"
		type="Submit">My Profile</button>
	</form>
	<a class="btn btn-info" style="width:100%;" href="../FunZone.html">Fun Zone</a>
	<a class="btn btn-warning" style="width:100%;" href="../Shows.html">Shows</a>
	<div class="row" style="padding-top:200px;">
		<div class="col-sm-4"></div>
		<div class="col-sm-1">
			<a href ="../Institutions.html?type=Theater">
				<img src="../images/Theaters.png" style="width: 200px; height: 200px;"/>
			</a>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-1">
			<a href ="../Institutions.html?type=Cinema">
				<img src="../images/Cinemas.png" style="width: 200px; height: 200px;"/>
			</a>
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-4"></div>
		<div class="col-sm-1"  style="text-align: right;">
			<a href ="../Institutions.html?type=theater" >
				Theaters
			</a>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-1" style="text-align: right;">
			<a href ="../Institutions.html?type=cinema">
				Cinemas
			</a>
		</div>
	</div>
	<h2>Friends</h2>
	<table class="table table-bordred table-striped" style="border: 1px solid #ddd;" id="friendsTable"></table>
	<h2>History</h2>
	<table class="table table-bordred table-striped" style="border: 1px solid #ddd;" id="historyTable"></table>
	<h2>Reservations</h2>
	<table class="table table-bordred table-striped" style="border: 1px solid #ddd;" id="reservationsTable"></table>
	
	
	<script>
	$(document).ready(function() {
		$.ajax({
				url: '../friendship/friends',
	       	type: "GET",
	       	contentType: "application/json",
	       	success: function(data){
	  		  				updateFriendsTable(data);
	       		}
	   	});
		
		$.ajax({
			url: '../home/getHistory',
       	type: "GET",
       	contentType: "application/json",
       	success: function(data){
  		  				updateHistoryTable(data);
       		}
   		});
		
		$.ajax({
			url: '../home/reservations',
       	type: "GET",
       	contentType: "application/json",
       	success: function(data){
  		  				updateReservationsTable(data);
       		}
   		});
	});
	
	function updateReservationsTable(data){
		if(data==null){
			return false;
		}
		if(data.length != 0){
  					var a = document.getElementById("reservationsTable");
  					a.innerHTML = '<tr><th>ID</th><th>SEAT</th><th>PRICE</th><th>DATE</th><th>cancel</th><th colspan="2">Rate</th><th></th></tr>';
    			var i;
    			for(i=0; i<data.length; i++){
    				a.innerHTML += '<tr><td>' + data[i].id + '</td><td>' + data[i].seat + '</td><td>' + data[i].price + '</td><td>' +
    				data[i].eventDate + '</td><td><button type="button"  class="btn btn-warning btn-sm" onclick="cancelReservation(\'' + data[i].id + '\')">Cancel</button></td>' +
    				'<td><select id="rating"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></td>' +
    				'<td><button type="button"  class="btn btn-classic btn-sm" onclick="rate(\'' + data[i].id + '\')">Rate</button></td></tr>';
      			}
			}else{
				var a = document.getElementById("reservationsTable");
				a.innerHTML = '';
			}
	}
	
	function rate(id){
		var rating = $("#rating").val();
		$.ajax({
			url: '../show/rate/'+ id +'/' + rating,
        	success: function(data){
        		window.location.reload();
        	}
		});
	}
	
	
	function cancelReservation(id){
		var reservation = new Object();
		reservation.id = id;
		
		$.ajax({
			url: '../home/cancelReservation',
        	type: "PUT",
        	data: JSON.stringify(reservation),
        	contentType: "application/json",
        	success: function(data){
        		alert(data);
        		window.location.reload();
        	}
		});
	}
	
	
	function updateHistoryTable(data){
		if(data==null){
			return false;
		}
		if(data.length != 0){
  					var a = document.getElementById("historyTable");
  					a.innerHTML = '';
    			var i;
    			for(i=0; i<data.length; i++){
    				a.innerHTML += '<tr><td>' + data[i].type + '</td><td><a href="../Institution.html?id=' + data[i].id + '">' + data[i].name + '</a></td></tr>';
      			}
			}else{
				var a = document.getElementById("historyTable");
				a.innerHTML = '';
			}
	}
	
	
	function updateFriendsTable(data){
		if(data==null){
			return false;
		}
		if(data.length != 0){
  					var a = document.getElementById("friendsTable");
  					a.innerHTML = '';
    			var i;
    			for(i=0; i<data.length; i++){
    				a.innerHTML += '<tr><td><p>' + data[i].email + '</p></td><td>' + data[i].firstName + '</td><td>' + data[i].lastName + '</td><td><button type="button"  class="btn btn-warning btn-sm" onclick="unfriend(\'' + data[i].email + '\')">Unfriend</button></td></tr>';
      			}
			}else{
				var a = document.getElementById("friendsTable");
				a.innerHTML = '';
			}
	}
	
	function unfriend(e){
		var user = new Object();
		user.email = e;
		$.ajax({
				url: '../friendship/unfriend',
	        	type: "PUT",
	        	data: JSON.stringify(user),
	        	contentType: "application/json",
	        	success: function(data){
	        		updateFriendsTable(data);
	        	}
	    	});
	}
	</script>
</body>
</html>